numpy==1.26.0
protobuf
opencv-python
scipy
fvcore
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
tensorboard
tensorboardX
tensorflow
tqdm
timm
transforms3d
xformers==0.0.28
open3d
ultralytics==8.0.135
distinctipy
hydra-colorlog
hydra-core
gdown
pandas
imageio
pyrender
gorilla-core
gpustat
imgaug
einops
ruamel.yaml
pytorch-lightning
